{{!-- Format of comments and users being displayed --}}
<div class="comments-box">
    <div class="comment-header">
            <div class="comment-declare">
                Comment
            </div>
    </div>
    <div class="comment-container">
    <p class="blog-comment">{{comment}}</p>
    <i class="who-commented">- {{user.username}}, {{format_date createdAt}}</i>

    </div>
</div>