<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog Site</title>
</head>
<body>
    <header class="Navbar">
        <div>
        <a href="/">Home</a>
        <a href="/Dash">Dashboard</a>
        <a href="/Login">Login</a>
        <a href="/Logout">Logout</a>
        </div>

        <div class="PageTitle">

        </div>

    </header>
    {{{body}}}
</body>
</html>