<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog Site</title>
    <link rel="stylesheet" href="/css/mucking.css">
</head>
<body>
    <header class="Navbar">
        <div>
        <a href="/">Home</a>
        <a href="/dash">Dashboard</a>
        <a href="/login">Login</a>
        {{#if logged_in}}
        <a href="/logout">Logout</a>
        {{/if}}
        </div>

        <div class="PageTitle">

        </div>

    </header>
    <main>
    {{#if logged_in}}
    <h2>You are logged in</h2>
    {{/if}}
    {{{body}}}
    </main>
    {{!-- <script src="/js/trial.js"></script> --}}
</body>
</html>