<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="Navbar">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dash">Dashboard</a>
                </li>
                <li>
                    {{#if logged_in}}
                    <button id="logout" class="btn-logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </li>
            </ul>
        <div>
        <p class="page-title">Tech-blog</p>
        </div>
        </nav>

    </header>
    <main>
    {{#if logged_in}}
    <h2>You are logged in</h2>
    {{/if}}
    {{{body}}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    </main>
</body>
</html>