<h2>Blog Details</h2>
<div>
    Title: {{bandC.title}}
    <br>
    Contents: {{bandC.contents}}
    <div id="comments-box">
        <label for="Comments">Comments</label>
        <textarea name="Comments" id="Comments" cols="30" rows="10">{{bandC.comments.[0].comment}}</textarea>
    </div>
</div>