
<div id="new-user-container">
    <h2>New User Signup</h2>
    <form id="new-user-form">
        <label for="new-user-name">Username</label>
        <input class="new-user-inputs" type="text" id="new-user-name">
        <label for="new-user-password">Password</label>
        <input class="new-user-inputs" type="password" id="new-user-password">
        <button form="new-user-form" class="btn" type="submit">Submit</button>
        <a href="/login" id="login-link">Login instead</a>
    </form>
  
</div>
    <script src="/js/signup.js"></script>

