
<div>
    <h2>New User Signup</h2>
    <form id="new-user-form">
        <div>
        <label for="new-user-name">Username</label>
        <input class="new-user-inputs" type="text" id="new-user-name">
        <label for="new-user-email">email</label>
        <input class="new-user-inputs" type="text" id="new-user-email">
        <label for="new-user-password">Password</label>
        <input class="new-user-inputs" type="password" id="new-user-password">
        <button form="new-user-form" class="btn">Submit</button>
        </div>
    </form>
  
</div>
    <script src="/js/trial.js"></script>

{{!-- <script src="./trial"></script>
<script src="/js/signup"></script>
<script src="/signup"></script> --}}