{{!-- User Dashboard page which summarises all the blogs they have authored, and displays a link to create a new blog post  --}}
<div id="blog-container">
    {{#each refinedBlogs as |blogs|}}
        <a href="/api/blog/{{id}}">
        <div class="blogdiv">
            <h3>{{title}}</h3>
            <p>{{format_date createdAt}}</p>
        </div>
        </a>
    {{/each}}
<a href="/new-post" id="new-post-link">+ New Post</a>
</div>
