<div>
    <h2>Login Page</h2>
    <form class="login-form">
        <label for="Username">Username</label>
        <input class="login-inputs" type="text" id="User-login">
        <label for="Password">Password</label>
        <input class="login-inputs" type="password" id="User-password">
        <button id="login-button" type="button">Submit</button>
    </form>
</div>
<a href="/create-User">To create a new user -click here-</a>

<script src="/js/trial.js"></script>