<div id="Login-container">
    <h2>Login</h2>
    <form id="login-form">
        <label for="Username">Username</label>
        <input class="login-inputs" type="text" id="User-login">
        <label for="Password">Password</label>
        <input class="login-inputs" type="password" id="User-password">
        <button id="login-button" type="submit">Login!</button>
        <a href="/create-User" id="signup-link">Sign up instead</a>
    </form>
</div>

<script src="/js/login.js"></script>