<div class="post-div">
    <form class="new-post-form" id="postform">
        <label for="title">Post Title</label>
        <input class="post-inputs" type="text" id="post-title">
        <label for="content">Content</label>
        <input class="post-inputs" type="text" id="post-content">
        <button class="btn" type="submit">submit</button>
    </form>
</div>

<script src="/js/newpost.js"></script>