{{!-- Page with form for creating new Blog post --}}
<div class="post-div">
    <div class="post-header">Create New Post</div>
    <form class="new-post-form" id="postform">
        <label for="title">Title</label>
        <input class="post-inputs" type="text" id="post-title">
        <label for="content">Content</label>
        <input class="post-inputs" type="text" id="post-content">
        <button class="btn" type="submit">Create</button>
    </form>
</div>

<script src="/js/newpost.js"></script>