<div class="single-blog-container">
 <h2>{{title}}</h2>
 <div>
    Contents:
    {{contents}}
 </div>
</div>

<button type="button" id="update-button">Update Post</button>
<button type="button" id="delete-button">Delete</button>

<script src="/js/singlePost.js"></script>